[submodule "SMENG/SMENG/vendor/SPDLog"]
	path = SMENG/SMENG/vendor/SPDLog
	url = https://github.com/gabime/spdlog
[submodule "SMENG/SMENG/vendor/GLFW"]
	path = SMENG/SMENG/vendor/GLFW
	url = https://github.com/Lucas-Mondini/glfw
